@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.google.com/specimen/Lexend?query=lexend');
@import url('https://fonts.google.com/specimen/Lato?preview.text=Iniciar%20Sesion&query=lato');
@import url('https://fonts.google.com/specimen/Merriweather?query=Merriweather');


*{
  font-family: 'Lato', sans-serif;
}
.content{
  font-family: 'Lexend', sans-serif;
  font-size: 20px;
  letter-spacing: -2.8px;
  font-weight: 600;
  color: #7145D6;
  position: absolute;
  top: 150px;
  left: 300px;
}

.letter{
  font-family: 'Lexend', sans-serif;
  font-size: 28px;
  letter-spacing: -2.8px;
  font-weight: 600;
  color: #7145D6;
  position: fixed;
  top: 150px;
  left: 1120px;
}

.letter2{
  font-family: 'Lexend', sans-serif;
  font-size: 28px;
  letter-spacing: -2.8px;
  font-weight: 600;
  color: #7145D6;
  position: fixed;
  top: 165px;
  left: 1087px;
}

.letter3{
  font-family: 'Merriweather', serif;
  font-size: 28px;
  letter-spacing: -4.2px;
  font-weight: 600;
  color: #ffffff;
  position: fixed;
  top: 210px;
  left: 1220px;
}

.MyButton{
  border-radius: 28px;
  background: #7145D6;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
  width: 130px;
  height: 40px;
  padding: 8px 18px;
}

.contenedor{
  position: fixed;
  top: 450px;
  left: 280px;
}

.espacio1{
  position: fixed;
  top: 40%;
  padding-left: 280px;
}

.espacio2{
  position: fixed;
  top: 50%;
  padding-left: 280px;;
}

.barra1, .barra2{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.Barra1:focus, .Barra2:focus {
  border: 2px solid #007BFF;
 }

 .MyButton:hover {
  background-color: #0056b3;
 }
