@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lexend:wght@500&display=swap');

/*carousel classes*/
ul,
li {
  list-style: none;
  white-space: nowrap;
}

li {
  display: inline;
}

img {
  margin-top: 16px;
}

/* Main container */

.main-container {
  width: 500px;
  height: 280px;
  margin: 0 auto;
}

/* Slider container */
.slider-container {
  position: relative;
  height: 100%
}

/* dots carrusel */
.dots-container {
  display: flex;
  justify-content: center;
}

.dot-container-item {
  margin: 8px 3px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}

/* Arrows */
.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  margin-right: 350px;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.container-images {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid #eee;
  overflow: hidden;
}

div.active {
  background: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.images-bar {
  width: 163px;
  height: 100px;
  border-radius: 10px;
}
.images-bar-container {
  display: flex;
  justify-content: center;
  gap: 10px;

}

.reserva-container{
  display: flex;
  justify-content: center;
  gap: 30px;
}

.title-container{
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: 'Lexend', sans-serif;
}
.span-puntuacion{
  margin-right: 15px;
}

.infobar-container{
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lexend-type{
  font-family: 'Lexend', sans-serif;
}

.lato-type{
  font-family: 'Lato', sans-serif;
}

.lable-container{
  display: block;
}

.display-flex{
  display: flex;
}

.llegada-class{
  padding: 10px;
  border-radius:10px 0px 0px 10px ;
}

.salida-class{
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
}
.reserva-boton{
  margin-inline: auto; 
  background-color: mediumslateblue;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 30px;
  display: block;
}
